<%- include('header', {}); %>

<h1 class="text-center">Add Post</h1>

<% if (errors && typeof errors == 'object') { %>
	<div class="alert alert-danger">
		<ul>
	  	<% for(var k in errors){ %>
	  		<li><%= errors[k].msg; %></li>
	  	<% } %>
	  	</ul>
  	</div>
<% } %>

<form method="POST" class="form" action="/posts/add">
	<div class="form-group">
		<label>Title:</label>
		<input class="form-control" type="text" name="title" 
			<% if (fields) { %> value="<%= fields.title; %>" <% } %>
		/>
	</div>
	<div class="form-group">
		<label>Category:</label>

		<select name="category" class="form-control">
			<option 
				<% if (!fields || !fields.category){ %>
				selected="1" 
				<% } %>
				disabled="disabled">Select Category
			</option>
			<% for(var k in cats){ %>
				<option value="<%= cats[k].slug %>"  
					<% if (fields && fields.category && fields.category == cats[k].slug){ %>
					selected="1"
					<% } %>
				><%= cats[k].name %></option>
			<% } %>
		</select>
	</div>
	<div class="form-group">
		<label>Author:</label>
		<input class="form-control" type="text" name="author" 
			<% if (fields) { %> value="<%= fields.author; %>" <% } %>
		/>
	</div>
	<div class="form-group">
		<label>Content</label>
		<textarea class="form-control" name="content" rows="4"><% if (fields) { %><%= fields.content; %> <% } %></textarea>
	</div>
	<input type="submit" value="Submit" class="btn btn-success">
</form>

<%- include('footer', {}); %>