<%- include('header', {}); %>

<h1 class="text-center"><%= title %></h1>

<% if(posts){ %>
	<div class="posts row mb-2">
	 <% posts.forEach(function(post){ %>
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
			 		<a href="/posts/<%= post.category %>">
			 			<strong class="d-inline-block mb-2 text-primary">
			 			<%= convertSlugToTitle(post.category, cats) %>	
			 			</strong>
			 		</a>	
			 		<h3 class="mb-0">
				 		<a href="/posts/show/<%= post._id %>" class="text-dark">
				 			<%= post.title %>
				 		</a>
				 	</h3>
				 	<div class="mb-1 text-muted">
				 		<%= post.author %>
				 		 | 
				 		<%= moment(post.date).format('LLLL'); %>
				 	</div>
				 	<p class="card-text mb-auto">
				 		<%= post.content %>
				 	</p>
			 	</div>
		 	</div>
		</div>
	 <% }) %>
	 </div>
<% } %>
<% if(!posts){ %>
	<p>There are no posts</p>
<% } %>

<%- include('footer', {}); %>
